* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293462;
}
.main {
  position: relative;
}
.candy {
  width: 100px;
  height: 150px;
  background-color: #fff1c1;
  border-radius: 100px 100px 50px 50px;
}
.bar {
  width: 35px;
  height: 100px;
  background-color: #fe5f55;
  position: absolute;
  bottom: -40%;
  right: 33px;
  z-index: -1;
  border-radius: 0 0 10px 10px;
}
.bar::before {
  position: absolute;
  display: block;
  content: "";
  width: 35px;
  height: 25px;
  background-color: #a64942;
  bottom: 49px;
  right: 0;
}
